<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category_list</title>
</head>
<body>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
                <tbody>
                        {% for category in categories %}
                        <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.count }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
</body>
</html>
