<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th><a href="{% url 'category_list' %}">Category</th>
                    <th><a href="{% url 'account_list' %}">Account</th>
                </tr>
                <tbody>
                    {% for item in list %}
                    <tr>
                        <td>{{ item.vendor }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.date|date:"m/d/y" }}</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
        {% endif %}
        <a href="{% url 'create_receipt' %}"><button>Create Receipt</button></a>
        <a href="{% url 'create_category' %}"><button>Create Category</button></a>
        <a href="{% url 'create_account' %}"><button>Create Account</button></a>
    </main>
</body>
</html>
